.Toastify__toast--success {
  background-color: rgb(173, 207, 203);
  border: solid 5px darkgreen;
  border-radius: 0.3rem;
  color: black;
}

.Toastify__toast--error {
  background-color: rgb(226, 189, 189);
  border: solid 5px darkred;
  border-radius: 0.3rem;
  color: black;
}

.Toastify__toast--dark {
  background-color: rgb(102, 99, 99);
  border: solid 5px #212a31;
  border-radius: 0.3rem;
  color: white;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: linear-gradient(0.25turn, #cbd0d8, #f4f3ea);
}

html {
  scroll-behavior: smooth;
}

@keyframes enterTopRight {
  0% {
    opacity: 0;
    transform: translate(-2.5rem, -2.5rem) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}

.product-img {
  width: 210px;
  height: 210px;
  object-fit: contain;
}

.modal.on {
  width: 100vw;
  height: 100vh;
  left: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.modal {
  overflow: auto;
  position: fixed;
  z-index: 99;
  transition: 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  display: block;
  filter: blur(0);
  transform: scale(0.01);
}

.modal-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.55) 0px 4px 6px -2px;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  padding: 20px;
}

@media (max-width: 770px) {
  .modal-content {
    width: 80vw;
    left: 5vw;
  }
}

.video-div {
  overflow: auto;
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: rgb(114, 111, 111, 0.5);
  transition: 0.5s ease-in-out;
  transform: scale(1);
  opacity: 1;
  display: block;
  visibility: visible;
}

.video-player {
  position: absolute;
  top: 25vh;
}

.close-video {
  position: absolute;
  top: 80vh;
  left: 43vw;
  height: 2.5em;
  width: 80px;
  padding: 5px;
  background: white;
  outline: none;
  cursor: pointer;
  border: 1px solid #212a31;
  border-radius: 0.7rem;
  transition: all 0.3s ease-in-out;
}

.close-video:hover {
  transform: scale(1.2);
  background-color: #8b0046;
  color: white;
}

@media (max-width: 769px) {
  .close-video {
    left: 35vw;
  }
}

.add-to-order-btn {
  transition: all 0.6s ease-in-out;
}

.add-to-order-btn.out-of-stock {
  transform: skew(-10deg, -10deg);
  background-color: #ccc;
  border: 2px solid #8b0046;
}
